<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypt and Decrypt Messages</title>
</head>
<body>
    <h1>Criptografar e Descriptografar mensagens</h1>

    <!-- Form for encryption -->
    <form action="/encrypt" method="POST">
        <label for="mensagem">Informe a mensagem para criptografar:</label>
        <input type="text" id="mensagem" name="mensagem" required>
        <button type="submit">Criptografar</button>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>
